* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', monospace;
}



.login{
    background-image: url(https://i.redd.it/74crvhb3vyn61.png) ;
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    min-height: 100dvh;
    background-attachment:fixed
}

body{
    overflow-x: hidden;
    background-image: url("https://i.redd.it/tk9kh35sb4od1.png");
    background-size: cover;
    background-position: center;
    background-repeat:  no-repeat;
    min-height: 100dvh;
    background-attachment:fixed
}

#header-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #9abdf800;
    padding: 0 16px;
}

.btn-voltar {
    font-size: 45px;
    color: black;
    text-decoration: none;
}   

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
    width: 200px;
}

.header-title a {
    color: inherit;
    margin: 0;
    font-size: 45px;
    text-decoration: none;
}

.header-title{
    margin: 0;
    font-size: 45px;
}

.btn-menu {
  background: none;
  border: none;
  font-size: 45px;
  color: black;
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: flex-end;
}

#main-overview {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: calc(100dvh - 70px);
    padding: 24px;
    padding-top: 90px;
    gap: 20px;
    box-sizing: border-box;
    position: relative; 
}

.overview-title {
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
}

#overview-content {
    background-color: rgba(255, 255, 255, 0.70);
    border-radius: 25px;
    text-align: center;
    width: 800px;
    padding: 25px;
}

.overview-content p {
    line-height: 1.8;
    font-size: 13px;
}

.developed-by {
    text-align: center;
    line-height: 1;
    font-size: 15px;
    position: absolute;
    bottom: 20px;
}

/* css register */

#register {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s ease-out forwards;
}

#register h2 {
    margin-top: 50px;
    margin-bottom: 20px;
}

.form-register {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 100%;
    max-width: 400px;
    height: 400px;
    border-radius: 50px;
    gap: 10px;
    background-color: black;
}

.form-register input {
    width: 95%;
    height: 65px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.form-register button {
    background-color: #9ABCF8;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 65px;
}

/* css login */

.create {
        text-decoration: none;
    color: blue;
}

#login {
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    transform: translateY(10px);
    animation: fadeInUp 0.5s ease-out forwards;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#login h2 {
    margin-top: 50px;
    margin-bottom: 10px;
}

.create-account {
    margin-bottom: 20px;
    font-size: 15px;
}

.form-login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 30px;
    width: 100%;
    max-width: 400px;
    height: 300px;
    border-radius: 50px;
    gap: 10px;
    background-color: black;
}

.form-login input {
    width: 95%;
    height: 65px;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
}

.form-login button {
    background-color: #9ABCF8;
    color: white;
    font-size: 15px;
    border-radius: 20px;
    cursor: pointer;
    border: none;
    width: 100%;
    height: 65px;
}

/*css de pagina favoritos*/
 h2{
    text-align: center;
    font-size: 40px;
    margin: 1%;

}


.busca-poke{
    display: block;
    margin: 15px auto;
    font-size: 10px;
    text-align-last: left;
    border:none;    
    border-radius: 50px;
    background-color: rgb(219, 222, 224);
    padding: 20px ;
    outline: none;
    width: 500px;
}

 .sort-id{
    margin: 10px;
    margin-left: 40px;

    font-size: 10px;
    border:none;    
    border-radius: 50px;
    background-color: #dbdee0;

    padding: 5px ;
    outline: none;
    width: 260px;
}

 .sort-id select{
    font-size: 10px;
    border: 2px solid black;    
    border-radius: 12px;
    background-color:#dbdee0;
    padding: 2px;
    outline: none;
    width: 170px;
    cursor: pointer;
}

 .tipo-poke{
     margin: 12px;
     margin-left: 40px;
    font-size: 10px;
    border:none;    
    border-radius: 50px;
    background-color: rgb(219, 222, 224);
    padding: 5px ;
    outline: none;
    width: fit-content;
}

 .tipo-poke select{
    font-size: 10px;
    border: 2px solid black;    
    border-radius: 11px;
    background-color:rgb(219, 222, 224);
    padding: 2px;
    outline: none;
    width: 80px;
    cursor: pointer;
}

/*css de pagina favoritos*/

/* =========================================
   LAYOUT DO CONTAINER
   ========================================= */
.fav #favoritos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: start;
}

.card{
margin: 20px;
margin-left: 35px;

border:none;    
border-radius: 30px;
background-color: rgba(219, 222, 224, 0.989);
padding: 20px ;
outline: none;
width: 200px;
height: 260px;
display: flex;
flex-direction: column;
gap: 12px;


}

/* O Foil (Brilho Holográfico) */
.card::before {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: radial-gradient(
    circle 150px at var(--luz-x, 50%) var(--luz-y, 50%), 
    rgba(255, 255, 255, 0.5) 0%, rgba(255, 150, 200, 0.2) 30%, 
    rgba(150, 255, 200, 0.2) 60%, rgba(150, 200, 255, 0.2) 80%, 
    transparent 100%
  );
  mix-blend-mode: hard-light; 
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  z-index: 10;
}

.card:hover::before { opacity: 0.8; }
.card.reset { transition: transform 0.5s ease; }

/* =========================================
   ELEMENTOS INTERNOS DO CARD
   ========================================= */
.card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.card-topo {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.Nome-principal {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.card-topo p {
  margin: 0;
}

.card-base {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  width: 100%;
}

/* A pílula de Tipo */
.tipo {
  padding: 5px 15px; 
  border-radius: 20px; 
  font-size: 16px;
  font-weight: bold;
  color: #000;
  display: inline-block;
}

/* A Estrela */
.estrela {
  font-size: 30px;
  color: rgb(242, 242, 38);
  margin: 0;
}

/* As Cores dos Tipos */
.tipo-fogo { background-color: #FFA500; }
.tipo-agua { background-color: #3399FF; }
.tipo-planta { background-color: #77CC55; }
.tipo-psiquico { background-color: #FF5599; }
.tipo-eletrico { background-color: #FFCC00; }
.tipo-venenoso { background-color: #AA5599; }
.tipo-normal { background-color: #AAAA99; }

.lupa{
 position: absolute;
 font-size: 35px;
 bottom: 625px;
 right: 510px;
}

/* mensagem de erro */

.erro {
    color: red;
    font-size: 11px;
    margin-top: -4px;
    margin-bottom: 5px;
    margin-left: 10px;
    align-self: flex-start;
}

/* FIRE */
.Fire{
    background-color: #F97316;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* WATER */
.Water{
    background-color: #3B82F6;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* GRASS */
.Grass{
    background-color: #22C55E;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* ELECTRIC */
.Electric{
    background-color: #FACC15;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 110px;
}

/* PSYCHIC */
.Psychic{
    background-color: #EC4899;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 110px;
}

/* ICE */
.Ice{
    background-color: #7DD3FC;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 80px;
}

/* DRAGON */
.Dragon{
    background-color: #7C3AED;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 110px;
}

/* DARK */
.Dark{
    background-color: #44403C;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* FAIRY */
.Fairy{
    background-color: #F9A8D4;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* NORMAL */
.Normal{
    background-color: #A8A29E;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}

/* FIGHTING */
.Fighting{
    background-color: #B91C1C;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 110px;
}

/* FLYING */
.Flying{
    background-color: #60A5FA;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}

/* POISON */
.Poison{
    background-color: #A855F7;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}

/* GROUND */
.Ground{
    background-color: #CA8A04;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}

/* ROCK */
.Rock{
    background-color: #78716C;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* BUG */
.Bug{
    background-color: #84CC16;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 80px;
}

/* GHOST */
.Ghost{
    background-color: #6D28D9;
    color: white;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}

/* STEEL */
.Steel{
    background-color: #94A3B8;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 90px;
}

/* STELLAR */
.Stellar{
    background-color: #38BDF8;
    border: none;
    border-radius: 30px;
    padding: 5px;
    width: 100px;
}
